Sarvottamananda initiated the code repository to help students understand and program in OpenGL
using C++.

*       @sarvottamananda

*.md    @sarvottamananda
*.cpp   @sarvottamananda

assets/gltut_cpp.png    @heraldofspace (aniket)
